@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.usertodo{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 16px 0;
    color: #333;
}

.usertodo .chkbox {
    margin: 0 0 0 36px;
    float: right;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #aaa;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.usertodo .chkbox:checked {
    background-color: #50e3a4;
    border: 2px solid #30a572;
}

.strike {
    color: #bbb;
}